.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 0;
  }

  &__link {
    text-transform: uppercase;
    color: #000;
  }

  &__link:not(:last-child) {
    margin-right: 50px;
  }

  &__link:hover {
    color: $accentColor;
  }

  &__burger {
    display: none;
    @media screen and (max-width: 690px) {
      display: inline-block;
      border: none;
      background: transparent;
      max-width: 8%;
      cursor: pointer;
    }
  }
  &__nav {
    @media screen and (max-width: 690px) {
      display: none;
    }
  }

  @media screen and (max-width: 960px) {
    font-size: 12px;
  }
  @media screen and (max-width: 785px) {
    font-size: 10px;
  }
}
.main-screen {
  padding: 250px 0;
  position: relative;
  background: $bluemarin;

  &__box {
    display: flex;
    align-items: center;
    @media screen and (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__img {
    min-width: 357px;
  }

  &__text {
    padding-left: 140px;
    @media screen and (max-width: 785px) {
      padding-left: 30px;
    }
    @media screen and (max-width: 650px) {
      justify-content: center;
      text-align: center;
      padding-top: 20px;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    color: #000;
    padding-bottom: 60px;
    @media screen and (max-width: 785px) {
      font-size: 25px;
    }
    @media screen and (max-width: 650px) {
      padding-bottom: 20px;
    }
  }

  &__subtitle {
    padding-bottom: 60px;
    @media screen and (max-width: 785px) {
      font-size: 12px;
    }
  }

  &__btn {
    background: $accentColor;
    color: #ffffff;
    padding: 25px 41px;
    text-transform: uppercase;
    @media screen and (max-width: 785px) {
      padding: 15px 41px;
      font-size: 12px;
    }
  }

  @media screen and (max-width: 785px) {
    padding: 200px 0 100px;
  }
}

.about-me {
  padding: 119px 0;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 830px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 50px;
    text-align: center;
    color: #000;
  }

  &__subtitle {
    text-align: center;
    margin: 0 auto;
    color: #727272;
    line-height: 1.3em;
    padding-bottom: 100px;
  }
  &__items {
    background: $accentColor;
    padding: 100px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & img {
    @media screen and (max-width: 960px) {
      max-width: 60%;
    }
  }

  &__img {
    @media screen and (max-width: 960px) {
      max-width: 50%;
    }
  }

  &__text {
    padding-left: 20px;
    color: #fff;
    @media screen and (max-width: 960px) {
      padding-left: 0px;
    }
  }

  &__number {
    font-size: 21px;
    font-weight: 500;
    @media screen and (max-width: 960px) {
      font-size: 17px;
    }
    @media screen and (max-width: 650px) {
      font-size: 13px;
    }
  }

  &__objects {
    @media screen and (max-width: 960px) {
      font-size: 12px;
    }
    @media screen and (max-width: 650px) {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 785px) {
    padding-bottom: 0px;
  }
  @media screen and (max-width: 650px) {
    padding: 30px 0 0;
  }
}

.abilities {
  padding: 102px 0;

  &__box {
    display: flex;
    align-items: center;
    @media screen and (max-width: 785px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    color: #000000;
  }

  & p {
    color: #727272;
    padding-bottom: 20px;
  }

  &__progress {
    padding: 50px 150px 50px 0;
    @media screen and (max-width: 950px) {
      padding: 50px 50px;
    }
  }

  &__item {
    padding-bottom: 20px;
  }

  &__line {
    position: relative;
    height: 4px;
    width: 445px;
    background-color: #c4c4c4;
    @media screen and (max-width: 500px) {
      width: 300px;
    }
  }

  &__line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: $accentColor;
    width: 350px;
    @media screen and (max-width: 500px) {
      width: 230px;
    }
  }

  &__img {
    max-width: 555px;
  }
  @media screen and (max-width: 785px) {
    padding: 40px 0;
  }
}

.work {
  padding: 100px 0;
  background: #e5e5e5;

  &__title {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #000000;
    padding-bottom: 50px;
  }

  &__subtitle {
    text-align: center;
    color: #727272;
    margin: 0 auto;
    padding-bottom: 57px;
  }

  &__video {
    position: relative;
    padding-bottom: 56.6%;
    height: 0;
  }
  &__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1110px;
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 650px) {
    padding: 50px 0;
  }
}

.selectors {
  padding: 28px 0;

  &__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__img {
    display: flex;
    position: relative;
  }

  &__overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #34537ac5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s;
  }

  &__btn {
    cursor: pointer;
    background: transparent;
    border: none;
  }

  &__img:hover &__overlay {
    opacity: 100;
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 72px 30px;
  }


.offer {
  padding: 100px 0px;
  background: $bluemarin;

  &__text {
    text-align: center;
  }

  &__title {
    padding-bottom: 50px;
    color: #000;
  }

  &__subtitle {
    color: #727272;
    margin: 0 auto;
  }

  &__box {
    padding: 65px 0;
    margin: 0 auto;
    max-width: 540px;
  }

  &__first-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 20px;
    @media screen and (max-width: 450px) {
      gap: 5px;
    }
  }

  &__input {
    padding: 18px;
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 450px) {
      padding: 12px 3px;
    }
  }

  &__input_message {
    width: 100%;
    height: 200px;
  }

  &__send {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  padding: 50px 0;
  background: $accentColor;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    font-size: 21px;
    color: #ffffff;
  }

  &__subtitle {
    font-size: 13px;
    color: #ffffff;
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
  }
}