*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #727272;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
}
p {
  max-width: 540px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  background: #34547a;
  color: #ffffff;
  padding: 25px 41px;
  text-transform: uppercase;
  cursor: pointer;
}

ul {
  list-style: none;
}
a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}

button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}

.btn:hover {
  background: #34537a94;
}
textarea {
  resize: none;
}

img {
  max-width: 100%;
}
